@using (Html.BeginForm())
{
   <input type="text" value="" name="userName" placeholder="Kullanıcı Adını Giriniz" />
   <br />
   <input type="password" name="password" value="" placeholder="Şifre Giriniz" />
   <br />
   <input type="submit" name="password" value="Giriş" />

}

<a href="/Auth/Register" class="btn btn-info">Kayıt Ol</a>
