@model List<Category>
<h2>Kategorilerin Listesi</h2>
<br />
<link href="~/css/site.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Yazılar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td><a href="/Article/GetList/@item.CategoryId" class="btn btn-primary">Yazılar</a></td>
        </tr>
    }
</table>
<a href="/Category/Add" class="btn btn-success">Yeni Kategori Ekle</a>
